{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Blockcart Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
        rel="stylesheet">
    <script type="text/javascript">
        var user = '{{request.user}}'

        function getcsrf(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const  csrftoken = getcsrf('csrftoken');
    </script>
    <!-- //Fonts -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block style %}{% endblock style %}
    <style>
        {
            % block css %
        }

            {
            % endblock %
        }
    </style>
</head>

<body>

    <div class="main-banner inner" id="home">
        <!-- header -->
        <header class="header">
            <div class="container-fluid px-lg-5">
                <!-- nav -->
                <nav class="py-4">
                    <div id="logo">
                        <h1> <a href="index.html"><span class="fa fa-bold" aria-hidden="true"></span>lockcart</a></h1>
                    </div>

                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu mt-2">
                        <li class="{% block active %}{% endblock active %}"><a href="/">Home</a></li>
                        <li><a href="/products">Shop Now</a></li>
                        <li><a href="/tracker">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        {% if username  %}
                        <li>
                            <!-- First Tier Drop Down -->
                            <label for="drop-2" class="toggle">Drop Down <span class="fa fa-angle-down"
                                    aria-hidden="true"></span> </label>
                            <a href="#"> login as {{username}} <span class="fa fa-angle-down"
                                    aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-2" />
                            <ul>
                                <li><a href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>your cart
                                        <span id="cartno"  > ({{cartitems}}) </span>
                                    </a></li>
                                <li><a href="/user">user</a></li>
                                <li><a href="/logout">logout</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="/login">login</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <!-- //nav -->
            </div>
        </header>
        <!-- //header -->

    </div>
    <!--//main-content-->
    <!---->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">{% block paged %}{% endblock paged %}</li>
    </ol>
    <!---->
    <!--// mian-content -->
    <!-- banner -->
    {% for message in messages  %}

    <div class="alert alert-{{ message.tags}} alert-dismissible fade show" role="alert">

        <strong>message:</strong>{{ message}}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endfor %}


    {% block body %}
    {% endblock body %}

    
    {% block scripts %}{% endblock scripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js">
    </script>
    <script type="text/javascript"> 
        var cartno = {{cartitems}}
        console.log(cartno)
        if (cartno == 0){
            document.getElementById('cartno').style.visibility="hidden";
        }
        </script>
   
    {% block js %}{% endblock %}
</body>

</html>